<div class="pdf-viewer">
   <ngx-extended-pdf-viewer 
      [src]="pdfSrc" 
      useBrowserLocale="true" 
      [showSidebarButton]="true" 
      [showHandToolButton]="true"
      #pdfViewer
      ></ngx-extended-pdf-viewer>
 </div>

 @if (successMessage) {
   <div class="container fixed-top mt-2">
     <div class="row justify-content-center">
       <div class="col-md-6">
            <ngb-alert #selfClosingAlert class=" text-center" type="success" (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>
       </div>
     </div>
   </div>
 }
 @if (errorMessage) {
  <div class="container fixed-top mt-2">
    <div class="row justify-content-center">
      <div class="col-md-6">
           <ngb-alert #selfClosingAlert class=" text-center" type="danger" (closed)="errorMessage = ''">{{ errorMessage }}</ngb-alert>
      </div>
    </div>
  </div>
}