.navbar-custom {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  /* Custom CSS for hover dropdown */
.nav-item.dropdown.show-on-hover:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Adjusts the position */
}

.nav-item.dropdown.show-on-hover > .nav-link {
  cursor: pointer;
}
