@if (error) {
  <div class="container fixed-top mt-2">
    <div class="row justify-content-center">
      <div class="col-md-6">
	      <ngb-alert #selfClosingAlert class=" text-center" type="danger" (closed)="error = ''">{{ error }}</ngb-alert>
      </div>
    </div>
  </div>
}
<div class="container h-100 d-flex align-items-center justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <mat-card class="shadow-lg p-4">
        <div class="row">
          <!-- Left side: Image -->
          <div class="col-md-5 text-center d-flex flex-column align-items-center justify-content-center">
            <img src="../../../assets/login.png" alt="Login Image" class="img-fluid" style="max-width: 80%;">
          </div>
          <!-- Divider -->
          <div class="col-md-1 d-flex align-items-center justify-content-center">
            <div class="vertical-line"></div>
          </div>
          <!-- Right side: Login Form -->
          <div class="col-md-6">
            <h2 class="mb-4 text-left ps-3">Login</h2>
            <form (ngSubmit)="onSubmit()" id="loginForm" [formGroup]="loginForm">
              <mat-card-content>
                <!-- Email -->
                <mat-form-field class="w-100 mat-form-field-custom">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" id="email" placeholder="Enter email" formControlName="email" required />
                </mat-form-field>
                <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="text-danger">
                  <div *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</div>
                  <div *ngIf="loginForm.get('email')?.hasError('email')">Invalid email address.</div>
                </div>
                <br>
                <!-- Password -->
                <mat-form-field class="w-100 mat-form-field-custom">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide() ? 'password' : 'text'" placeholder="Enter password" formControlName="password" required/>
                  <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-danger">
                  <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</div>
                  <div *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 8 characters long.</div>
                </div>
              </mat-card-content>
              <mat-card-actions class="justify-content-center">
                <button mat-raised-button type="submit" id="submitButton">Submit</button>
              </mat-card-actions>
            </form>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

